################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/TPDesignPatterns/.vs/TPDesignPatterns/v15/Server/sqlite3
/TPDesignPatterns/TPDesignPatterns/obj/Debug/netcoreapp2.0/TPDesignPatterns.csproj.FileListAbsolute.txt
/TPDesignPatterns/TPDesignPatterns/bin/Debug/netcoreapp2.0/TPDesignPatterns.runtimeconfig.json
/TPDesignPatterns/TPDesignPatterns/bin/Debug/netcoreapp2.0/TPDesignPatterns.runtimeconfig.dev.json
/TPDesignPatterns/TPDesignPatterns/bin/Debug/netcoreapp2.0/TPDesignPatterns.deps.json
