################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/TPDesignPatterns/.vs/TPDesignPatterns/v15/Server/sqlite3
